<div class="profile-view">
    <div class="location">
        <span>Profile</span>
    </div>
    <div class="container">

        <div class="image-container">
            <img src="/background/{{userProfileData()?.backgroundImageNumber}}" alt="colorfull background picture">
            <div>Profile</div>
        </div>

        <div class="upper-content">
            <div class="person-pic-container">
                <img src="{{userPicSrc()}}" alt="profile-picture">
            </div>
            <div class="infos-and-mininav">
                <div class="infos">
                    <div class="name">{{userProfileData()?.firstName}} {{userProfileData()?.lastName}}</div>
                    <div class="application-id">{{userOwnerOfProfileIdTitle()}} ID: {{userProfileData()?.displayId}}</div>
                </div>
                <div class="mininav">
                    <button routerLink="/profile/{{userIdForProfileData()}}/details" routerLinkActive="colorize">Details</button>
                    <button routerLink="/profile/{{userIdForProfileData()}}/documents" routerLinkActive="colorize">Documents</button>
                    @if (userOwnerOfProfileStatus() === 'student') {
                        <button routerLink="/profile/{{userIdForProfileData()}}/grades" routerLinkActive="colorize">Grades</button>
                    }
                </div>
            </div>
        </div>

        <div class="lower-content">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>