<div class="application-main-view">
    <div class="location">
        <span>Application Details</span>
    </div>
    <div class="container">

        <div class="image-container">
            <img src="../../public/background/fire-light-water.jpg" alt="fire-light-water">
            <div>Application</div>
        </div>

        <div class="upper-content">
            <div class="applicant-pic-container">
                <img [src]="applicantPicUrl()" alt="teacher-profile-picture">
            </div>
            <div class="infos-and-mininav">
                <div class="infos">
                    <div class="name">{{applicantName}}</div>
                    <div class="application-id">ApplicantID: {{appDisplayId}}</div>
                </div>
                <div class="mininav">
                    <button class="colorize">Details</button>
                    <button>Uploaded Documents</button>
                </div>
            </div>
            @if (isTeacherViewing) {
                <div class="controls-container">
                    <button class="green-btn">Accept</button>
                    <button class="red-btn">Decline</button>
                </div>
            }
        </div>

        <div class="lower-content">
            
            <router-outlet></router-outlet>

        </div>

    </div>
</div>