<div class="announcements-container">
    @if (isTeacherCreator()) {
        <div class="teacher-announcement-creator">
            <form [formGroup]="form" (ngSubmit)="publish()">
                <div class="group">
                    <div class="label-container">
                        <label for="title">Title</label>
                    </div>
                    <input type="text" id="title" (onChange)="validate('title')" formControlName='title' 
                    [class]="validationLib.title.validationClass">
                    @if (validationLib.title.showErrMsg) {
                        <div class="error-msg-container">
                            <span class="error">Please enter the title.</span>
                        </div>
                    }
                </div>
                <div class="group add-margin-top">
                    <div class="label-container">
                        <label for="announcement">Announcement</label>
                    </div>
                    <textarea name="description" id="announcement" (onChange)="validate('description')" formControlName="description"></textarea>
                    @if (validationLib.description.showErrMsg) {
                        <div class="error-msg-container">
                            <span class="error">Please enter the announcement.</span>
                        </div>
                    }
                </div>
                <button class="green-btn add-margin-top">Publish Announcement</button>
            </form>
        </div>
    }
    @if (subject()?.announcements?.length) {
        @for (elem of subject()?.announcements; track $index) {
            <div class="announcement">
                <div class="upper">
                    <div class="info">
                        <div class="title-container">
                            <p>{{elem.title}}</p>
                        </div>
                        <div class="datetime-container">
                            <p>
                                TODO format {{elem.dateTime}}
                            </p>
                        </div>
                    </div>
                    @if (showTeacherControls()) {
                        <div class="teacher-announcement-controls">
                            <button class="delete" (click)="delete(elem._id)">Delete</button>
                        </div>
                    }
                </div>
                <div class="lower">
                    <div>
                        <p>{{elem.description}}</p>
                    </div>
                </div>
            </div>
        }
    } @else {
        <div class="no-results">
            <span>No Announcements</span>
        </div>
    }
</div>