<div class="register-view">

    <div class="title-container">
        <h2>Register</h2>
    </div>

    <form class="form-element">
        <div class="main-elements">
            <div class="input-elements">

                <div class="form-group">
                    <label for="registerFirstName">Teacher Or Parent<i>*</i></label>
                    <select class="form-control credentials false-input" name="registerAs"
                        id="registerAs">
                        <option value="">Parent or Teacher?</option>
                        <option value="parent">Parent</option>
                        <option value="teacher">Teacher</option>
                    </select>

                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="registerFirstName">First Name<i>*</i></label>
                    <input class="false-input" type="text" name="firstName" placeholder="First Name"
                        id="registerFirstName">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerLastName">Last Name<i>*</i></label>
                    <input class="correct-input" type="text" name="lastName" placeholder="Last Name"
                        id="registerLastName">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerDateOfBirth">Date Of Birth<i>*</i></label>
                    <input type="date" name="dateOfBirth" id="registerDateOfBirth">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerEmail">Email<i>*</i></label>
                    <input type="text" name="email" id="registerEmail" placeholder="Email">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerMobileNumber">Mobile Number<i>*</i></label>
                    <input type="tel" name="mobileNumber" id="registerMobileNumber"
                        placeholder="Mobile Number">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerHomeNumber">Home Number</label>
                    <input type="tel" name="homeNumber" id="registerHomeNumber" placeholder="Home Number">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="registerStreet">Street<i>*</i></label>
                    <input type="text" name="street" id="registerStreet" placeholder="Street">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerHouseNumber">House Number<i>*</i></label>
                    <input type="text" name="houseNumber" id="registerHouseNumber"
                        placeholder="House Number">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registerCity">City<i>*</i></label>
                    <input type="text" name="city" id="registerCity" placeholder="City">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="authenticationCode">Authentication Code<i>*</i></label>
                    <input type="text" name="authenticationCode" id="authenticationCode" placeholder="Authentication Code">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
            </div>
            <div class="description-elements">
                <div>
                    <span>Please fill out all mandatory<i>*</i> fields.</span>
                </div>
                <div>
                    <span>If you are a parent please use the authentication code, which you can find in the acceptance email we sent to your child.</span>
                    <span>If you are a teacher please use the authentication code, provided to you by the school.</span>
                    
                </div>
                <div>
                    <span>After registering, please check your email. You should recieve a link for email confirmation after a few moments. Click the link to activate your account. After that you can <a href="#">LOG IN</a>.</span>
                </div>
                <div>
                    <span>Having trouble or questions? Please check the <a href="#">FAQ</a> or <a href="#">CONTACT</a> us.</span>
                </div>
            </div>
        </div>
        <div class="file-uploads-container">
            <div class="custom-file-upload-component">
                <div class="label-container">
                    <label>Profile Picture</label>
                </div>
                <label for="fileUploadPicture" class="custom-file-upload-btn">Select Photo
                    <input type="file" name="profilePicture" id="fileUploadPicture">
                </label>
                <div class="selected-file-name-container add-margin-top">
                    <!-- incert file name in span element -->
                    <span></span>
                </div>
            </div>
        </div>
        <div class="loader-container">
            <span class="loader"></span>
        </div>
        <div class="form-btn">
            <button class="red-btn" type="submit">Register</button>
        </div>
    </form>

    <span class="no-acc-msg">If you already have an account you can <a href="#">Log in</a> right
        away.</span>

</div>