<div class="about-view">
    <div class="content">
        <div class="teil text title unselectable">
            <span>More about us</span>
        </div>
        <div class="teil text description unselectable">
            <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime excepturi non repellendus hic ipsa magni provident, vel dolore alias iure aliquid accusantium, mollitia a veritatis, corporis accusamus eaque reiciendis earum eveniet amet neque eligendi debitis odit necessitatibus. Ratione in magni laboriosam doloremque, aspernatur ut voluptates possimus! Saepe ducimus optio cum eum dicta iusto laboriosam impedit ad inventore, quos error eligendi minus explicabo, cupiditate itaque quae voluptatibus similique, aspernatur veritatis. Cum tempore, omnis vero, ab corrupti, sequi numquam esse eum aliquid laudantium nobis? Quo excepturi illo quia sed, in minus. Tenetur explicabo quo praesentium, nostrum ullam eveniet aperiam ipsam corporis sequi ducimus provident veritatis veniam dolor cumque obcaecati.</span>
        </div>
        <div class="teil text additional unselectable">
            <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, iusto debitis aliquam tempore totam impedit hic dolorem porro, repellendus soluta tenetur? Numquam excepturi temporibus maxime amet odit velit ex voluptas?</span>
        </div>
        <div class="teil"></div>
        <div class="teil"></div>
        <div class="teil"></div>
    </div>
</div>