.create-new-subject {
    width: 98vw;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
}

.create-new-subject .window {
    position: relative;
    width: 40vw;
    min-height: fit-content;
    min-width: 600px;
    min-height: 200px;
    box-shadow: var(--component-box-shadow-strong);
    border-radius: var(--border-radius);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-new-subject .window .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .window-title {
        font-size: var(--size-mid-title);
        font-weight: bold;
    }

    .form-container {
        width: 60%;
    }
}

.create-new-subject .window .controls {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.create-new-subject .subject-creation-form {
    border: 1px solid var(--black);
    padding: 10px;
    background-color: var(--background-gray);

    .group {
        display: flex;
        flex-direction: column;

        label {
            font-size: var(--size-description);
            font-weight: bold;
        }

        input {
            width: 97%;
            font-size: var(--size-description);
            padding: 5px 5px;
            font-family: var(--font-family);
            border-color: transparent;
        }

        input.missing-input {
            border-bottom: 2px solid var(--rusty-red);
        }
    }
}

.create-new-subject .error-container {
    width: fit-content;
    max-width: 80%;
    text-align: center;
    color: var(--rusty-red);
    font-size: var(-size-error-msg);
}