.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.7);
    z-index: 1;
    background-color: var(--white);
    border-radius: 5px;      
}

.dropdown-content a {
    color: var(--black) !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--cosmic-latte);
    color: var(--rusty-red) !important;
} 

.dropdown:hover .dropdown-content {
    display: block;
}

.underline {
    text-decoration: underline !important;
}