.register {
    height: inherit;
    width: 100%;
}

.register form {
    width: 1000px;
    height: fit-content;
    margin: 0 auto;
    background-color: var(--white);
    padding: 40px;
    border-radius: var(--border-radius);
    color: var(--dark-cold-gray);
    box-shadow: var(--component-box-shadow);
}

.register .register-elements-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    gap: 30px;
    color: var(--black);

    h2 {
        font-size: var(--size-title);
    }
}

.register .radio-container {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
        margin-right: 15px;
        font-size: var(--size-option);
    }
}

.register .form-group.radios {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.register form .form-control {
    background: var(--light-cold-gray);
    border: none;
    border-bottom: 4px solid var(--gray);
    border-radius: var(--border-radius);
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
}

.register form .form-control.credentials {
    width: 300px;
}

.register form .btn {
    padding: 15px 70px;
}

.register .no-acc-msg-container {
    color: var(--dim-gray);
    font-size: var(--size-small-msg);

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--rusty-red);
    }
}

.register .error-msg-group {
    max-height: 100px;
}

/* error communacation */
/* show span and edit textContent when error */
.register span.error {
    display: block;
    color: var(--rusty-red);
    font-size: var(--size-error-msg);
}

/* class to add by false validation */
.register input.false-input {
    border-bottom: 4px solid var(--rusty-red);
}

.register select.false-input {
    border-bottom: 4px solid var(--rusty-red);
}