.subjects-view {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.subjects-view .location {
    border-bottom: 1px solid var(--black);

    span {
        font-size: var(--size-option);
        font-weight: bold;
    }
}

.subjects-view .subjects-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subjects-view .search-container {
    /* border: 2px solid red; */
    min-width: 400px;
    width: 50vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    label {
        /* border: 2px solid red; */
        font-size: var(--size-option);
        font-weight: bold;
    }
    input {
        width: 30%;
        background: var(--white);
        border: none;
        border-radius: var(--border-radius);
        box-shadow: none;
        outline: none;
        color: var(--dim-gray);
        text-indent: 8px;
        height: inherit;
    }
    button {
        height: inherit;
    }
}

.subjects-view .subject-group {
    display: flex;
    height: 53vh;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    .subject-component {
        width: 20vw;
        height: 45vh;
        box-shadow: var(--component-box-shadow);
        border-radius: var(--border-radius);
    }
    .subject-component:hover {
        box-shadow: var(--component-box-shadow-strong);
    }

    .top-segment {
        width: 100%;
        height: calc(45vh * 0.32);

        img {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            width: 100%;
            height: inherit;
        }
    }

    .middle-segment {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(45vh / 3);
    }

    .bottom-segment {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(45vh / 3);
    }


}

.subjects-view .subject-group .segment-content {
    height: 93%;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subjects-view .subject-group .subject-component .segment-content .middle-upper {
    font-size: var(--size-mid-title);
    font-weight: bold;
}

.subjects-view .subject-group .subject-component .segment-content .middle-lower {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: var(--size-description);
    text-transform: uppercase;
    font-weight: bold;

    span.subject-details {
        color: var(--gray);
    }
}

.subjects-view .subject-group .subject-component .segment-controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .bottom-upper,
    .bottom-lower {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        padding: 10px 20px;
    }
}

/* add this class dinamicali to bottom-lower*/
.subjects-view .segment-controls div.bottom-lower.hide {
    display: none;
}