<div class="apply-now">

    <div class="title-container">
        <h2>Apply now to become a student</h2>
    </div>

    <form class="form-element" [formGroup]="form" (ngSubmit)="apply()">
        <div class="main-elements">
            <div class="input-elements">
                <div class="form-group">
                    <label for="firstName">First Name<i>*</i></label>
                    <input [class]="validationLib.firstName.validationClass" type="text" name="firstName"
                        placeholder="First Name" id="firstName" formControlName="firstName">
                    @if (validationLib.firstName.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter your first name.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name<i>*</i></label>
                    <input [class]="validationLib.lastName.validationClass" type="text" name="lastName"
                        placeholder="Last Name" id="lastName" formControlName="lastName">
                    @if (validationLib.lastName.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter your last name.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date Of Birth<i>*</i></label>
                    <input [class]="validationLib.dateOfBirth.validationClass" type="date" name="dateOfBirth"
                        id="dateOfBirth" formControlName="dateOfBirth">
                    @if (validationLib.dateOfBirth.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please select your date of birth.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="email">Email<i>*</i></label>
                    <input [class]="validationLib.email.validationClass" type="text" name="email" id="email"
                        placeholder="Email" formControlName="email">
                    @if (validationLib.email.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter your email. Examples: my.personal.email&#64;abc.com,
                            my.email&#64;abc.xyz.com.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="mobileNumber">Mobile Number<i>*</i></label>
                    <input [class]="validationLib.mobileNumber.validationClass" type="tel" name="mobileNumber"
                        id="mobileNumber" placeholder="Mobile Number" formControlName="mobileNumber">
                    @if (validationLib.mobileNumber.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter your mobile number. Examples: +49 886 13497331, 0886 13497331,
                            +359 886 13497331.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="homeNumber">Home Number</label>
                    <input [class]="validationLib.homeNumber.validationClass" type="tel" name="homeNumber"
                        id="homeNumber" placeholder="Home Number" formControlName="homeNumber">
                    @if (validationLib.homeNumber.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Optionaly you may enter your home number. Examples: 055 988899, +359
                            826688.</span>
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="street">Street<i>*</i></label>
                    <input [class]="validationLib.street.validationClass" type="text" name="street" id="street"
                        placeholder="Street" formControlName="street">
                    @if (validationLib.street.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter the name of your street. Example: "Example-Park Main".</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="houseNumber">House Number<i>*</i></label>
                    <input [class]="validationLib.houseNumber.validationClass" type="text" name="houseNumber"
                        id="houseNumber" placeholder="House Number" formControlName="houseNumber">
                    @if (validationLib.houseNumber.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter your house number. Example: 23, 23a, 23A, 23 a, 12-a.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="city">City<i>*</i></label>
                    <input [class]="validationLib.city.validationClass" type="text" name="city" id="city"
                        placeholder="City" formControlName="city">
                    @if (validationLib.city.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">lease enter the name of your city. Example: MyCity, mycity, "Example-City
                            SecondWord".</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="password">Password<i>*</i></label>
                    <input [class]="validationLib.password.validationClass" type="password" name="password" id="password"
                        placeholder="Password" formControlName="password">
                    @if (validationLib.password.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">The password may contain letters(lower or upper case), numbers and these
                            symbols: "$%-_!&#64;+?=&,;.:". Other symbols are not allowed. Minimum length: 8
                            characters.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="applyNowRePassword">Repeat Password<i>*</i></label>
                    <input [class]="validationLib.applyNowRePassword?.validationClass" type="password"
                        name="applyNowRePassword" id="applyNowRePassword" placeholder="Repeat Password"
                        formControlName="applyNowRePassword">
                    @if (validationLib.applyNowRePassword?.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Passwords do not match.</span>
                    </div>
                    }
                </div>
            </div>
            <div class="description-elements">
                <div>
                    <span>Please fill out all mandatory<i>*</i> fields. With this form you are applying and creating an
                        account at the same time. The needed documents are listed under <a routerLink="/forms-and-documents">FORMS
                            & DOCUMENTS</a>.</span>
                </div>
                <div>
                    <span>After submitting the application, we will review it as soon
                        as possible. If accepted,
                        you will be aible to <a routerLink="/log-in">LOG IN</a>. In the details page of your user profile you will then find the authentication code, with which your parents can also create accounts.</span>
                </div>
                <div>
                    <span>If you are a parent or a teacher please <a routerLink="/register">REGISTER</a>.</span>
                </div>
                <div>
                    <span>Having trouble or questions? Please check the <a routerLink="/faq">FAQ</a> or <a routerLink="/contact">CONTACT</a> us.</span>
                </div>
            </div>
        </div>
        <div class="file-uploads-container">
            <div class="custom-file-upload-component">

                <div class="label-container">
                    <label>Profile Picture</label>
                </div>
                <label for="fileUploadPicture" class="custom-file-upload-btn">Select Photo
                    <input type="file" name="profilePicture" id="fileUploadPicture" formControlName="profilePicture"
                        (change)="onProfilePictureFileSelect($event)">
                </label>
                <button class="red-btn" type="button" (click)="clearPictureFile()">Remove Picture</button>
                <div class="selected-file-name-container add-margin-top">
                    @if(profilePictureFileName) {
                    <span>{{profilePictureFileName}}</span>
                    }
                </div>
            </div>
            @if (validationLib.profilePicture.showErrMsg) {
            <div class="error-msg-container">
                <span class="error">Only the following image file types are acceptable: .JPEG, .JPG and .PNG.</span>
            </div>
            }
            <div class="custom-file-upload-component">


                <div class="label-container">
                    <label>Documents<i>*</i></label>
                </div>
                <label for="fileUploadDocuments" class="custom-file-upload-btn">Select Files
                    <input type="file" name="documents" id="fileUploadDocuments" multiple formControlName="documents"
                        (change)="onDocumentsFilesSelect($event)">
                </label>
                <button class="red-btn" type="button" (click)="clearAllFiles()">Clear All Files</button>
                <div class="selected-file-name-container add-margin-top">
                    @for (fileName of documentsFilesNames; track $index) {
                    <span>{{fileName}}</span>
                    }
                </div>

            </div>
            @if (validationLib.documents?.showErrMsg) {
            <div class="error-msg-container">
                <span class="error">Please select your documents. Only PDF files are allowed.</span>
            </div>
            }
        </div>
        @if(isLoading()) {
        <app-loader></app-loader>
        } @else {
        <div class="form-btn">
            <!--  -->
            <button class="red-btn" type="submit" [disabled]="isFormInvalid">Apply</button>
        </div>
        }
    </form>

    <span class="no-acc-msg">If you already have an account you can <a href="#">Log in</a> right
        away.</span>

</div>