<div class="profile-details">
    <div class="grid-teil">
        <div class="title">
            <span>Name & Birth Date</span>
        </div>
        <form class="info">
            <div class="group">
                <div class="undertitle">
                    <span>First Name</span>
                </div>
                <div class="content">
                    <input type="text" [value]="userProfileData()?.firstName">
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Last Name</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.lastName}}"  disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Date Of Birth</span>
                </div>
                <div class="content">
                    <input type="date" value="{{userProfileData()?.dateOfBirth}}" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="grid-teil">
        <div class="title">
            <span>Contact</span>
        </div>
        <form class="info">
            <div class="group">
                <div class="undertitle">
                    <span>Mobile Number</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.mobileNumber}}" disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Home Number</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.homeNumber}}" disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Email</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.email}}" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="grid-teil">
        <div class="title">
            <span>Address</span>
        </div>
        <form class="info">
            <div class="group">
                <div class="undertitle">
                    <span>Street</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.street}}" disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>House Number</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.houseNumber}}" disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>City</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.city}}" disabled>
                </div>
            </div>

        </form>

    </div>
    @if (displayAuthCode()) {
        <div class="grid-teil">
            <div class="title">
                <span>Authentication</span>
            </div>
            <form class="info">
                <div class="group">
                    <div class="undertitle">
                        <span>Parental Authentication Code</span>
                    </div>
                    <div class="content">
                        <input type="text" value="{{userProfileData()?.parentalAuthenticationCode}}" disabled>
                    </div>
                </div>
            </form>
    
        </div>
    }
</div>