<div class="profile-details">
    <div class="grid-teil">
        <div class="title">
            <span>Name & Birth Date</span>
        </div>
        <form class="info">
            <div class="group">
                <div class="undertitle">
                    <span>First Name</span>
                </div>
                <div class="content">
                    <!-- <input type="text" value="{{userData()?.firstName}}" disabled> -->
                    <input type="text" [value]="userProfileData()?.firstName">
                </div>
                <!-- <div class="error-container">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quisquam!</span>
                </div> -->
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Last Name</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.lastName}}"  disabled>
                </div>
                <!-- <div class="error-container">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quisquam!</span>
                </div> -->
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Date Of Birth</span>
                </div>
                <div class="content">
                    <input type="date" value="{{userProfileData()?.dateOfBirth}}" disabled>
                </div>
                <!-- <div class="error-container">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quisquam!</span>
                </div> -->
            </div>
            <!-- <div class="control-group">
                @if (!nameFormEditingActive()) {
                    <button class="green-btn" type="button" (click)="editAndCancelNameForm('edit')">Edit</button>
                } @else {
                    <button class="green-btn">Save</button>
                    <button class="red-btn" type="button" (click)="editAndCancelNameForm('cancel')">Cancel</button>
                }
            </div> -->
        </form>
    </div>
    <div class="grid-teil">
        <div class="title">
            <span>Contact</span>
        </div>
        <form class="info">
            <div class="group">
                <div class="undertitle">
                    <span>Mobile Number</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.mobileNumber}}" disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Home Number</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.homeNumber}}" disabled>
                </div>
                <!-- <div class="error-container">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quisquam!</span>
                </div> -->
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>Email</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.email}}" disabled>
                </div>
            </div>
            <!-- <div class="control-group">
                @if (!contactFormEditingActive()) {
                    <button class="green-btn" type="button" (click)="editAndCancelContactForm('edit')">Edit</button>
                } @else {
                    <button class="green-btn">Save</button>
                    <button class="red-btn" type="button" (click)="editAndCancelContactForm('cancel')">Cancel</button>
                }
            </div> -->
        </form>
    </div>
    <div class="grid-teil">
        <div class="title">
            <span>Address</span>
        </div>
        <form class="info">
            <div class="group">
                <div class="undertitle">
                    <span>Street</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.street}}" disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>House Number</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.houseNumber}}" disabled>
                </div>
            </div>
            <div class="group">
                <div class="undertitle">
                    <span>City</span>
                </div>
                <div class="content">
                    <input type="text" value="{{userProfileData()?.city}}" disabled>
                </div>
                <!-- <div class="error-container">
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, quisquam!</span>
                </div> -->
            </div>
            <!-- <div class="control-group">
                @if (!addressFormEditingActive()) {
                    <button class="green-btn" type="button" (click)="editAndCancelAddressForm('edit')">Edit</button>
                } @else {
                    <button class="green-btn">Save</button>
                    <button class="red-btn" type="button" (click)="editAndCancelAddressForm('cancel')">Cancel</button>
                }
            </div> -->

        </form>

    </div>
</div>