<div class="login-view">

    <div class="title-container">
        <h2>Log In</h2>
    </div>

    <form class="form-element">
        <div class="main-elements">
            <div class="input-elements">

                <div class="form-group">
                    <label for="loginAs">Parent, Teacher or Student?<i>*</i></label>
                    <select class="form-control credentials" name="loginAs" id="loginAs">
                        <option value="">Parent, Teacher or Student?</option>
                        <option value="parent">Parent</option>
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                    </select>

                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email<i>*</i></label>
                    <input class="false-input" type="text" name="email" placeholder="Email"
                        id="email">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password<i>*</i></label>
                    <input class="false-input" type="password" name="password" placeholder="Password"
                        id="password">
                    <div class="error-msg-container">
                        <span class="error">Error message here!Error message here!</span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="loader-container">
            <span class="loader"></span>
        </div>
        <div class="form-btn">
            <button class="red-btn" type="submit">Log In</button>
        </div>
    </form>

    <span class="mandatory-fieds-msg">Mandatory<i>*</i> fields.</span>
    <span class="no-acc-msg">No account? <a href="#">Register</a> or <a href="#">apply</a> to become
        a student.</span>

</div>