<div class="login-view">

    <div class="title-container">
        <h2>Log In</h2>
    </div>

    <form class="form-element" [formGroup]="form" (ngSubmit)="login()">
        <div class="main-elements">
            <div class="input-elements">

                <div class="form-group">
                    <label for="loginAs">Parent, Teacher or Student?<i>*</i></label>
                    <select name="loginAs" id="loginAs" formControlName="loginAs"
                        [class]="validationLib.loginAs.validationClass">
                        <option value="">Parent, Teacher or Student?</option>
                        <option value="parent">Parent</option>
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                    </select>
                    @if (validationLib.loginAs.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please select your status.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="email">Email<i>*</i></label>
                    <input type="text" name="email" placeholder="Email" id="email" formControlName="email"
                    [class]="validationLib.email.validationClass">
                    @if (validationLib.email.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter your email.</span>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label for="password">Password<i>*</i></label>
                    <input type="password" name="password" placeholder="Password" id="password"
                        formControlName="password"
                        [class]="validationLib.password.validationClass">
                    @if (validationLib.password.showErrMsg) {
                    <div class="error-msg-container">
                        <span class="error">Please enter your password.</span>
                    </div>
                    }
                </div>

            </div>
        </div>
        @if (isLoading()) {
            <app-loader></app-loader>
        } @else {
            <div class="form-btn">
                <button class="red-btn" type="submit" [disabled]="isLoginFormInvalid">Log In</button>
            </div>
        }
    </form>

    <span class="mandatory-fieds-msg">Mandatory<i>*</i> fields.</span>
    <span class="no-acc-msg">No account? <a href="javascript:void(0)" routerLink="/register">Register</a> or <a href="javascript:void(0)" routerLink="/apply-now">apply</a>
        to become
        a student.</span>

</div>