<div class="all-students-view">
    <div class="location">
        <span>Pending Applications</span>
    </div>
    <div class="search-container">
        <label for="serach-text">Search:</label>
        <input type="text" id="serach-text" placeholder="Student First Name" #firstName>
        <input type="text" id="serach-text" placeholder="Student Last Name" #lastName>
        <input type="text" id="serach-text" placeholder="Student ID" #displayId>
        <button class="yellow-btn" (click)="search(firstName.value, lastName.value, displayId.value)">Search</button>
    </div>

    @if(studentsData()?.length) {
        <div class="students-container">
            <div class="all-students-container">

                @for (student of studentsData(); track $index) {
                    <div class="single-student">
                        <div class="student-photo">
                            <img src="{{baseUrlForPicture()}}{{student.profilePicture}}" alt="photo if student">
                        </div>
                        <div class="student-name">
                            <p>{{student.firstName}} {{student.lastName}}</p>
                        </div>
                        <div class="student-id">
                            <p>Applicant ID {{student.displayId}}</p>
                        </div>
                        <div class="control">
                            <button class="yellow-btn" routerLink="/profile/{{student._id}}/details">View Profile</button>
                        </div>
                    </div>
                }
       
            </div>
        </div>
    } @else {
        <div class="no-results">
            <span>No results!</span>
        </div>
    }

</div>