<header class="header-container">
    <div class="logo">
        <p>St. Peter Middle School</p>
    </div>

    <div class="navigation nav-all">
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a routerLink="/forms-and-documents">Forms & Documents</a></li>
            </ul>
        </nav>
    </div>
    @if (isUserLoggedIn) {
        @if (userAuthorizationStatus === 'parent') {
            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Student Grades</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li class="logout-active"><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                    </ul>
                </nav>
            </div>
        } @else if (userAuthorizationStatus === 'teacher') {
            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li>
                            <div class="dropdown">
                                <a href="javascript:void(0)" routerLink="/all-subjects" class="dropdown-btn underline">Subjects</a>
                                <div class="dropdown-content">
                                    <a href="javascript:void(0)" routerLink="/my-subjects">My Subjects</a>
                                    <a href="javascript:void(0)" routerLink="/create-subject">Create Subject</a>
                                    <a href="javascript:void(0)" routerLink="/all-subjects">All Subjects</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="#" class="dropdown-btn underline">Students</a>
                                <div class="dropdown-content">
                                    <a href="javascript:void(0)" routerLink="/pending-applications">Pending Applications</a>
                                    <a href="#">All Students</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">My Profile</a></li>
                        <li class="logout-active"><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                    </ul>
                </nav>
            </div>
        } @else if (userAuthorizationStatus === 'student') {
            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li>
                            <div class="dropdown">
                                <a href="javascript:void(0)" routerLink="/all-subjects" class="dropdown-btn underline">Subjects</a>
                                <div class="dropdown-content">
                                    <a href="javascript:void(0)" routerLink="/my-subjects">My Subjects</a>
                                    <a href="javascript:void(0)" routerLink="/all-subjects">All Subjects</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">My Grades</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li class="logout-active"><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                    </ul>
                </nav>
            </div>
        }
    } @else {
        <div class="navigation nav-specific">
            <nav>
                <ul>
                    <li><a routerLink="/register">Register</a></li>
                    <li><a routerLink="/log-in">Log In</a></li>
                    <li class="apply"><a routerLink="/apply-now">Apply Now</a></li>
                </ul>
            </nav>
        </div>
    }
</header>