<header class="header-container">
    <div class="logo">
        <p>St. Peter Middle School</p>
    </div>

    <div class="navigation nav-all">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Forms & Documents</a></li>
            </ul>
        </nav>
    </div>

    <div class="navigation nav-specific">
        <nav>
            <ul>
                <li><a href="#">Register</a></li>
                <li><a href="#">Log In</a></li>
                <li class="apply"><a href="#">Apply Now</a></li>
            </ul>
        </nav>
    </div>
</header>