<div class="pending-applications-view">
    <div class="location">
        <span>Pending Applications</span>
    </div>
    <div class="search-container">
        <label for="serach-text">Search:</label>
        <input type="text" id="serach-text" placeholder="Students name">
        <input type="text" id="serach-text" placeholder="Student ID">
        <button class="yellow-btn">Search</button>
    </div>

    <div class="applications-container">

        <div class="all-applications-container">

            <div class="single-application">
                <div class="student-photo">
                    <img src="../../public/profile-photos/test-profile-picture-1.jpg" alt="photo if student">
                </div>
                <div class="application-name">
                    <p>Ivan Petrov</p>
                </div>
                <div class="application-id">
                    <p>StudentID 234dfs</p>
                </div>
                <div class="control">
                    <button class="yellow-btn">View Student Profile</button>
                </div>
            </div>
   
        </div>

    </div>

    <div class="no-results">
        <span>No results!</span>
    </div>

</div>