<div class="subject-details-view">
    <div class="location">
        <span>Subject - {{subject()?.title}}</span>
    </div>
    <div class="container">

        <div class="image-container">
            <img src="background/{{subject()?.backgroundImageNumber}}" alt="fire-light-water">
            <div>{{subject()?.title}}</div>
        </div>

        <div class="upper-content">
            <div class="teacher-pic-container">
                <img [src]="teacherPicSrc()" alt="teacher-profile-picture">
            </div>
            <div class="infos-and-mininav">
                <div class="infos">
                    <div class="name">{{teacherName()}}</div>
                    <div class="subject-id">ID {{subject()?.displayId}}</div>
                </div>
                <div class="mininav">
                    <button routerLink="/subject-details/{{subjectId}}/participants" routerLinkActive="colorize">Participating Students</button>
                    <button routerLink="/subject-details/{{subjectId}}/announcements" routerLinkActive="colorize">Announcements</button>
                    @if (showFullNav()) {
                        <button routerLink="/subject-details/{{subjectId}}/assignments" routerLinkActive="colorize">Assignments</button>
                        <button routerLink="/subject-details/{{subjectId}}/materials" routerLinkActive="colorize">Download Material</button>
                    }
                </div>
            </div>
            <div class="controls-container">
            @if (showParticipationBtns()) {
                    @if (canJoin()) {
                        <button class="green-btn" (click)="joinSubject()">Join</button>
                    } @else {
                        <button class="red-btn" (click)="leaveSubject()">Leave</button>
                    }
                }
            </div>
        </div>

        <div class="lower-content">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>