<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/navDropdown.css">
    <link rel="stylesheet" href="../styles/applyNow.css">
    <link rel="stylesheet" href="../styles/customFileInput.css">
    <link rel="stylesheet" href="../styles/customFileUploadComponent.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Student Grades</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li class="logout-active"><a href="#">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="apply-now">

                    <div class="title-container">
                        <h2>Apply now to become a student</h2>
                    </div>

                    <form class="form-element">
                        <div class="main-elements">
                            <div class="input-elements">
                                <div class="form-group">
                                    <label for="registerFirstName">First Name<i>*</i></label>
                                    <input class="false-input" type="text" name="firstName" placeholder="First Name"
                                        id="registerFirstName">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="registerLastName">Last Name<i>*</i></label>
                                    <input class="correct-input" type="text" name="lastName" placeholder="Last Name"
                                        id="registerLastName">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="registerDateOfBirth">Date Of Birth<i>*</i></label>
                                    <input type="date" name="dateOfBirth" id="registerDateOfBirth">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="registerEmail">Email<i>*</i></label>
                                    <input type="text" name="email" id="registerEmail" placeholder="Email">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="registerMobileNumber">Mobile Number<i>*</i></label>
                                    <input type="tel" name="mobileNumber" id="registerMobileNumber" placeholder="Mobile Number">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="registerHomeNumber">Home Number</label>
                                    <input type="tel" name="homeNumber" id="registerHomeNumber" placeholder="Home Number">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="registerStreet">Street<i>*</i></label>
                                    <input type="text" name="street" id="registerStreet" placeholder="Street">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="registerHouseNumber">House Number<i>*</i></label>
                                    <input type="text" name="houseNumber" id="registerHouseNumber" placeholder="House Number">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="registerCity">City<i>*</i></label>
                                    <input type="text" name="city" id="registerCity" placeholder="City">
                                    <div class="error-msg-container">
                                        <span class="error">Error message here!Error message here!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="description-elements">
                                <div>
                                    <span>Please fill out all mandatory<i>*</i> fields. With this form you are applying and creating an account at the same time. The needed documents are listed under <a href="#">FORMS
                                            & DOCUMENTS</a>.</span>
                                </div>
                                <div>
                                    <span>After submitting the application, we will review it and send you an answer per Email as soon as possible. In this email, if accepted,
                                        you will find a link for email confirmation and the "Parental Authentication Code", with which your parents can also
                                        create accounts.</span>
                                </div>
                                <div>
                                    <span>Having trouble or questions? Please check the <a href="#">FAQ</a> or <a
                                            href="#">CONTACT</a> us.</span>
                                </div>
                            </div>
                        </div>
                        <div class="file-uploads-container">
                            <div class="custom-file-upload-component">

                                    
                                <div class="label-container">
                                    <label>Profile picture</label>
                                </div>
                                <label for="fileUploadPicture" class="custom-file-upload-btn">Select Photo
                                    <input type="file" name="profilePicture" id="fileUploadPicture"></input>
                                </label>
                                <div class="selected-file-name-container add-margin-top">
                                    <!-- incert file name in span element -->
                                    <span></span>
                                </div>
                                <!-- <button class="green-btn">Upload</button> -->
                            
                            </div>
                            <div class="custom-file-upload-component">

                                    
                                <div class="label-container">
                                    <label>Documents<i>*</i></label>
                                </div>
                                <label for="fileUploadDocuments" class="custom-file-upload-btn">Select Files
                                    <input type="file" name="documents" id="fileUploadDocuments" multiple></input>
                                </label>
                                <div class="selected-file-name-container add-margin-top">
                                    <!-- incert file names in span elements -->
                                    <span>sadfdfsdfsfdsfdsa</span>
                                    <span>sadfdfsdfsfdsfdsa</span>
                                    <span>sadfdfsdfsfdsfdsa</span>
                                </div>
                                <!-- <button class="green-btn">Upload</button> -->
                            
                            </div>
                        </div>
                        <div class="form-btn">
                            <button class="red-btn" type="submit">Apply</button>
                        </div>
                    </form>

                    <span class="no-acc-msg">If you already have an account you can <a href="#">Log in</a> right
                        away.</span>

            </div>
        </main>
    </div>
</body>

</html>