<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/applicationMain.css">
    <link rel="stylesheet" href="../styles/applicationUploadedDocuments.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <div class="application-main-view">
                <div class="location">
                    <span>Application - Uploaded Documents</span>
                </div>
                <div class="container">

                    <div class="image-container">
                        <img src="../../public/background/fire-light-water.jpg" alt="fire-light-water">
                        <div>Application</div>
                    </div>

                    <div class="upper-content">
                        <div class="applicant-pic-container">
                            <img src="../../public/profile-photos/test-teacher-profile-picture.jpg"
                                alt="teacher-profile-picture">
                        </div>
                        <div class="infos-and-mininav">
                            <div class="infos">
                                <div class="name">Michaela Ivanova</div>
                                <div class="application-id">ApplicationID: 2332ht</div>
                            </div>
                            <div class="mininav">
                                <button>Details</button>
                                <button class="colorize">Uploaded Documents</button>
                            </div>
                        </div>
                        <div class="controls-container">
                            <button class="green-btn">Accept</button>
                            <button class="red-btn">Decline</button>
                        </div>
                    </div>

                    <div class="lower-content">

                        <div class="application-uploaded-documents">

                            <div class="document">

                                <div class="file-icon-container">
                                    <img src="../../public/icons/pdf/128.png" alt="file icon">
                                </div>

                                <div class="info">
                                    <div class="name-container">
                                        <span>Name of the uploaded file comes here. Lorem ipsum dolor sit amet
                                            consectetur, adipisicing elit. Quam, voluptatem!</span>
                                    </div>
                                </div>

                                <div class="controls">
                                    <button class="green-btn">Download</button>
                                    <button class="red-btn">Delete</button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>