<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/applicationMain.css">
    <link rel="stylesheet" href="../styles/applicationDetails.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <div class="application-main-view">
                <div class="location">
                    <span>Application - Details</span>
                </div>
                <div class="container">

                    <div class="image-container">
                        <img src="../../public/background/fire-light-water.jpg" alt="fire-light-water">
                        <div>Application</div>
                    </div>

                    <div class="upper-content">
                        <div class="applicant-pic-container">
                            <img src="../../public/profile-photos/test-teacher-profile-picture.jpg" alt="teacher-profile-picture">
                        </div>
                        <div class="infos-and-mininav">
                            <div class="infos">
                                <div class="name">Michaela Ivanova</div>
                                <div class="application-id">ApplicationID: 2332ht</div>
                            </div>
                            <div class="mininav">
                                <button class="colorize">Details</button>
                                <button>Uploaded Documents</button>
                            </div>
                        </div>
                        <div class="controls-container">
                            <button class="green-btn">Accept</button>
                            <button class="red-btn">Decline</button>
                        </div>
                    </div>

                    <div class="lower-content">

                        <div class="application-details">
                            <div class="grid-teil">
                                <div class="title">
                                    <span>Name & Birth Date</span>
                                </div>
                                <div class="info">
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>First Name</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="Boris" disabled>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>Last Name</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="Emilov" disabled>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>Date Of Birth</span>
                                        </div>
                                        <div class="content">
                                            <input type="date" value="2322-11-01" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-teil">
                                <div class="title">
                                    <span>Contact</span>
                                </div>
                                <div class="info">
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>Mobile Number</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="0184 5656 5664" disabled>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>Home Number</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="032 68 55 99" disabled>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>Email</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="some-email@gmail.com" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-teil">
                                <div class="title">
                                    <span>Address</span>
                                </div>
                                <div class="info">
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>Street</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="SomeLongStr." disabled>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>House Number</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="34a" disabled>
                                        </div>
                                    </div>
                                    <div class="group">
                                        <div class="undertitle">
                                            <span>City</span>
                                        </div>
                                        <div class="content">
                                            <input type="text" value="Varna" disabled>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>