<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/createNewSubject.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="create-new-subject">
                <div class="window">
                    <div class="info">
                        <div class="window-title">
                            <p>Create New Subject</p>
                        </div>
                        <div class="form-container">
                            <form class="subject-creation-form">
                                <div class="group">
                                    <label for="subject-title">Subject title:</label>
                                    <input type="text" id="subject-title" class="missing-input">
                                </div>
                            </form>
                        </div>
                        <div class="error-container">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="controls">
                        <button class="green-btn">Create</button>
                        <button class="red-btn">Cancel</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>