<div class="custom-file-upload-component">

                                    
    <div class="label-container">
        <label>Select and upload a file</label>
    </div>
    <label for="fileUpload" class="custom-file-upload-btn">Select File
        <input type="file" id="fileUpload"></input>
    </label>
    <div class="selected-file-name-container add-margin-top">
        <span>Name of selected file.Name of selected file.Name of selected file.Name
            of selected file.Name of selected file.Name of selected file.Name of
            selected file.Name of selected file.Name of selected file.Name of
            selected file.</span>
    </div>
    <button class="green-btn">Upload</button>

</div>