<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/profileMain.css">
    <link rel="stylesheet" href="../styles/profileStudentGrades.css">
    <link rel="stylesheet" href="../styles/addGradeWindow.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            
            <!-- addGradeWindow; show when teacher wants to add a grade -->

            <!-- <div class="add-grade-window-container">
                <div class="window">
                    <div class="info">
                        <div class="question-container">
                            <p>Grade to add:</p>
                        </div>
                        <div class="grade-input-container">
                            <input type="number" class="correct-input">
                        </div>
                    </div>
                    <div class="controls">
                        <button class="green-btn">Add Grade</button>
                        <button class="red-btn">Cancel</button>
                    </div>
                </div>
            </div> -->

            <div class="profile-view">
                <div class="location">
                    <span>Student Profile - Grades</span>
                </div>
                <div class="container">

                    <div class="image-container">
                        <img src="../../public/background/fire-light-water.jpg" alt="fire-light-water">
                        <div>Student Profile</div>
                    </div>

                    <div class="upper-content">
                        <div class="person-pic-container">
                            <img src="../../public/profile-photos/test-teacher-profile-picture.jpg"
                                alt="teacher-profile-picture">
                        </div>
                        <div class="infos-and-mininav">
                            <div class="infos">
                                <div class="name">Michaela Ivanova</div>
                                <div class="application-id">StudentID: 2332ht</div>
                            </div>
                            <div class="mininav">
                                <button>Details</button>
                                <button>Documents</button>
                                <button class="colorize">Grades</button>
                            </div>
                        </div>
                        <!-- <div class="controls-container">
                            <button class="green-btn">Accept</button>
                            <button class="red-btn">Decline</button>
                        </div> -->
                    </div>

                    <div class="lower-content">

                        <div class="profile-grades">

                            <div class="grid-teil-subject-grades">
                                <div class="upper-container">
                                    <div class="title">
                                        <span>History</span>
                                        <span class="extra-infos">Teacher: Michaela Ivanova</span>
                                        <span class="extra-infos">SubjectID: 2332ht</span>
                                    </div>
                                    <button class="green-btn">Add Grade</button>
                                </div>

                                <form class="grades-container">

                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>
                                    <div class="grade">
                                        <!-- <div class="grade-controls">
                                            <button>Edit</button>
                                            <button>Delete</button>
                                            <button>OK</button>
                                            <button>Cancel</button>
                                        </div> -->
                                        <div class="content">
                                            <input class="correct-input" type="number" value="6" disabled>
                                        </div>
                                        <!-- <div class="error-container">
                                            <span>Grade missing.</span>
                                        </div> -->
                                    </div>

                                </form>

                            </div>
                            
                        </div>

                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>