<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - All Students</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/studentsOverview.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <div class="all-students-view">
                <div class="location">
                    <span>All Students</span>
                </div>
                <div class="students-container">
                    <div class="search-container">
                        <label for="serach-text">Search:</label>
                        <input type="text" id="serach-text" placeholder="Students name">
                        <input type="text" id="serach-text" placeholder="Student ID">
                        <!-- <button class="yellow-btn">Search</button> -->
                    </div>
                    <div class="all-students-container">

                        <div class="single-student">
                            <div class="student-photo">
                                <img src="../../public/profile-photos/test-profile-picture-1.jpg" alt="photo if student">
                            </div>
                            <div class="student-name">
                                <p>Ivan Petrov</p>
                            </div>
                            <div class="student-id">
                                <p>StudentID 234dfs</p>
                            </div>
                            <div class="control">
                                <button class="yellow-btn">View Student Profile</button>
                            </div>
                        </div>
                        <div class="single-student">
                            <div class="student-photo">
                                <img src="../../public/profile-photos/test-profile-picture-2.jpg" alt="photo if student">
                            </div>
                            <div class="student-name">
                                <p>Ivan Petrov</p>
                            </div>
                            <div class="student-id">
                                <p>StudentID 234dfs</p>
                            </div>
                            <div class="control">
                                <button class="yellow-btn">View Student Profile</button>
                            </div>
                        </div>
                        <div class="single-student">
                            <div class="student-photo">
                                <img src="../../public/profile-photos/test-profile-picture-3.jpg" alt="photo if student">
                            </div>
                            <div class="student-name">
                                <p>Ivan Petrov</p>
                            </div>
                            <div class="student-id">
                                <p>StudentID 234dfs</p>
                            </div>
                            <div class="control">
                                <button class="yellow-btn">View Student Profile</button>
                            </div>
                        </div>
                     

                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>