<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/subjectsOverview.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <div class="subjects-view">
                <div class="location">
                    <span>My Subjects</span>
                </div>
                <div class="subjects-container">
                    <div class="search-container">
                        <label for="serach-text">Search:</label>
                        <input type="text" id="serach-text" placeholder="Subject title">
                        <input type="text" id="serach-text" placeholder="Subject ID">
                        <!-- <button class="yellow-btn">Search</button> -->
                    </div>
                    <div class="subject-group">
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="subject-group">
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="subject-group">
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subject-component">
                            <div class="top-segment">
                                <img src="../../public/green-peach-red.jpg" alt="green-pattern.jpg">
                            </div>
                            <div class="middle-segment">
                                <div class="segment-content">
                                    <div class="middle-upper">
                                        <span>English and Literatur</span>
                                    </div>
                                    <div class="middle-lower">
                                        <span class="subject-details">Angela Dobrova</span>
                                        <span class="subject-details">#2332mt</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-segment">
                                <div class="segment-controls">
                                    <div class="bottom-upper">
                                        <button class="yellow-btn">View</button>
                                    </div>
                                    <div class="bottom-lower">
                                        <button class="green-btn">Join</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>