<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/subjectDetailsMain.css">
    <link rel="stylesheet" href="../styles/subjectDetailsAnnouncements.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <div class="subject-details-view">
                <div class="location">
                    <span>My Subjects - History</span>
                </div>
                <div class="container">

                    <div class="image-container">
                        <img src="../../public/green-peach-red.jpg" alt="fire-light-water">
                        <div>History</div>
                    </div>

                    <div class="upper-content">
                        <div class="teacher-pic-container">
                            <img src="../../public/test-teacher-profile-picture.jpg" alt="teacher-profile-picture">
                        </div>
                        <div class="infos-and-mininav">
                            <div class="infos">
                                <div class="name">Michaela Ivanova</div>
                                <div class="subject-id">#2332ht</div>
                            </div>
                            <div class="mininav">
                                <button>Participating Students</button>
                                <button class="colorize">Announcements</button>
                                <button>Assignments</button>
                                <button>Download Material</button>
                            </div>
                        </div>
                        <div class="controls-container">
                            <button class="join">Join</button>
                            <button class="leave">Leave</button>
                        </div>
                    </div>

                    <div class="lower-content">

                        <div class="announcements-container">
                            <div class="teacher-announcement-creator">
                                <form>
                                    <div class="group">
                                        <div class="label-container">
                                            <label for="title">Title</label>
                                        </div>
                                        <input type="text" id="title">
                                    </div>
                                    <div class="group add-margin-top">
                                        <div class="label-container">
                                            <label for="announcement">Announcement</label>
                                        </div>
                                        <textarea name="" id="announcement"></textarea>
                                    </div>
                                    <button class="add-margin-top">Create Announcement</button>
                                    <button class="add-margin-top">Save Changes</button>
                                    <button class="add-margin-top discard">Discard</button>
                                </form>
                            </div>
                            <div class="announcement">
                                <div class="upper">
                                    <div class="info">
                                        <div class="title-container">
                                            <p>Title</p>
                                        </div>
                                        <div class="datetime-container">
                                            <p>
                                                12.03.2024 11:45
                                            </p>
                                        </div>
                                    </div>
                                    <div class="teacher-announcement-controls">
                                        <button class="edit">Edit</button>
                                        <button class="delete">Delete</button>
                                    </div>
                                </div>
                                <div class="lower">
                                    <div>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a
                                            minima
                                            blanditiis aliquid expedita voluptate ad diseniti sapiente ipsam enim ab.
                                            Placeat repellat dolore, officiis eveniet id magnam? Cupiditate porro
                                            voluptas
                                            adipisci ut laboriosam? Dolor exercitationem, vitae adipisci iure aperiam
                                            omnis
                                            error eum provident maxime rem quod illum natus officiis. Corrupti ullam
                                            omnis
                                            dicta quo quis voluptates facilis praesentium nobis, nulla totam?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="announcement">
                                <div class="upper">
                                    <div class="info">
                                        <div class="title-container">
                                            <p>Title</p>
                                        </div>
                                        <div class="datetime-container">
                                            <p>
                                                12.03.2024 11:45
                                            </p>
                                        </div>
                                    </div>
                                    <div class="teacher-announcement-controls">
                                        <button class="edit">Edit</button>
                                        <button class="delete">Delete</button>
                                    </div>
                                </div>
                                <div class="lower">
                                    <div>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a
                                            minima
                                            blanditiis aliquid expedita voluptate ad diseniti sapiente ipsam enim ab.
                                            Placeat repellat dolore, officiis eveniet id magnam? Cupiditate porro
                                            voluptas
                                            adipisci ut laboriosam? Dolor exercitationem, vitae adipisci iure aperiam
                                            omnis
                                            error eum provident maxime rem quod illum natus officiis. Corrupti ullam
                                            omnis
                                            dicta quo quis voluptates facilis praesentium nobis, nulla totam?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="announcement">
                                <div class="upper">
                                    <div class="info">
                                        <div class="title-container">
                                            <p>Title</p>
                                        </div>
                                        <div class="datetime-container">
                                            <p>
                                                12.03.2024 11:45
                                            </p>
                                        </div>
                                    </div>
                                    <div class="teacher-announcement-controls">
                                        <button class="edit">Edit</button>
                                        <button class="delete">Delete</button>
                                    </div>
                                </div>
                                <div class="lower">
                                    <div>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a
                                            minima
                                            blanditiis aliquid expedita voluptate ad diseniti sapiente ipsam enim ab.
                                            Placeat repellat dolore, officiis eveniet id magnam? Cupiditate porro
                                            voluptas
                                            adipisci ut laboriosam? Dolor exercitationem, vitae adipisci iure aperiam
                                            omnis
                                            error eum provident maxime rem quod illum natus officiis. Corrupti ullam
                                            omnis
                                            dicta quo quis voluptates facilis praesentium nobis, nulla totam?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="announcement">
                                <div class="upper">
                                    <div class="info">
                                        <div class="title-container">
                                            <p>Title</p>
                                        </div>
                                        <div class="datetime-container">
                                            <p>
                                                12.03.2024 11:45
                                            </p>
                                        </div>
                                    </div>
                                    <div class="teacher-announcement-controls">
                                        <button class="edit">Edit</button>
                                        <button class="delete">Delete</button>
                                    </div>
                                </div>
                                <div class="lower">
                                    <div>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur a
                                            minima
                                            blanditiis aliquid expedita voluptate ad diseniti sapiente ipsam enim ab.
                                            Placeat repellat dolore, officiis eveniet id magnam? Cupiditate porro
                                            voluptas
                                            adipisci ut laboriosam? Dolor exercitationem, vitae adipisci iure aperiam
                                            omnis
                                            error eum provident maxime rem quod illum natus officiis. Corrupti ullam
                                            omnis
                                            dicta quo quis voluptates facilis praesentium nobis, nulla totam?</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>