<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/subjectDetailsMain.css">
    <link rel="stylesheet" href="../styles/subjectDetailsParticipants.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <div class="subject-details-view">
                <div class="location">
                    <span>My Subjects - History</span>
                </div>
                <div class="container">

                    <div class="image-container">
                        <img src="../../public/background/fire-light-water.jpg" alt="fire-light-water">
                        <div>History</div>
                    </div>

                    <div class="upper-content">
                        <div class="teacher-pic-container">
                            <img src="../../public/profile-photos/test-teacher-profile-picture.jpg" alt="teacher-profile-picture">
                        </div>
                        <div class="infos-and-mininav">
                            <div class="infos">
                                <div class="name">Michaela Ivanova</div>
                                <div class="subject-id">#2332ht</div>
                            </div>
                            <div class="mininav">
                                <button class="colorize">Participating Students</button>
                                <button>Announcements</button>
                                <button>Assignments</button>
                                <button>Download Material</button>
                            </div>
                        </div>
                        <div class="controls-container">
                            <button class="join">Join</button>
                            <button class="leave">Leave</button>
                        </div>
                    </div>

                    <div class="lower-content">

                        <div class="participants-container">
                            
                            <div class="participant">
    
                                <div class="profile-picture-container">
                                    <img src="../../public/profile-photos/test-profile-picture-1.jpg" alt="student picture">
                                </div>
    
                                <div class="first">
                                    <div class="info">
                                        <div class="name-container">
                                            <p>Stefan Atanasov Iliev</p>
                                        </div>
                                        <div class="email-container">
                                            <p>
                                                satefan.iliev423@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="teacher-participant-controls">
                                    <button class="green-btn">View Profile</button>
                                    <button class="red-btn">Remove</button>
                                </div>
    
                            </div>
                            <div class="participant">
    
                                <div class="profile-picture-container">
                                    <img src="../../public/profile-photos/test-profile-picture-2.jpg" alt="student picture">
                                </div>
    
                                <div class="first">
                                    <div class="info">
                                        <div class="name-container">
                                            <p>Stefan Atanasov Iliev</p>
                                        </div>
                                        <div class="email-container">
                                            <p>
                                                satefan.iliev423@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="teacher-participant-controls">
                                    <button class="green-btn">View Profile</button>
                                    <button class="red-btn">Remove</button>
                                </div>
    
                            </div>
                            <div class="participant">
    
                                <div class="profile-picture-container">
                                    <img src="../../public/profile-photos/test-profile-picture-3.jpg" alt="student picture">
                                </div>
    
                                <div class="first">
                                    <div class="info">
                                        <div class="name-container">
                                            <p>Stefan Atanasov Iliev</p>
                                        </div>
                                        <div class="email-container">
                                            <p>
                                                satefan.iliev423@gmail.com
                                            </p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="teacher-participant-controls">
                                    <button class="green-btn">View Profile</button>
                                    <button class="red-btn">Remove</button>
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>