<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySchool - Home</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/core.css">
    <link rel="stylesheet" href="../styles/subjectDetailsMain.css">
    <link rel="stylesheet" href="../styles/subjectDetailsDownloadMaterials.css">
    <link rel="stylesheet" href="../styles/customFileUpload.css">
</head>

<body>
    <div class="flex-container">
        <header class="header-container">
            <div class="logo">
                <p>St. Peter Middle School</p>
            </div>

            <div class="navigation nav-all">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Forms & Documents</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation nav-specific">
                <nav>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Log In</a></li>
                        <li class="apply"><a href="#">Apply Now</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <div class="subject-details-view">
                <div class="location">
                    <span>My Subjects - History</span>
                </div>
                <div class="container">

                    <div class="image-container">
                        <img src="../../public/green-peach-red.jpg" alt="fire-light-water">
                        <div>History</div>
                    </div>

                    <div class="upper-content">
                        <div class="teacher-pic-container">
                            <img src="../../public/test-teacher-profile-picture.jpg" alt="teacher-profile-picture">
                        </div>
                        <div class="infos-and-mininav">
                            <div class="infos">
                                <div class="name">Michaela Ivanova</div>
                                <div class="subject-id">#2332ht</div>
                            </div>
                            <div class="mininav">
                                <button>Participating Students</button>
                                <button>Announcements</button>
                                <button>Assignments</button>
                                <button class="colorize">Download Material</button>
                            </div>
                        </div>
                        <div class="controls-container">
                            <button class="join green-btn">Join</button>
                            <button class="leave red-btn">Leave</button>
                        </div>
                    </div>

                    <div class="lower-content">



                        <div class="materials-container">

                            <div class="teacher-material-creator">
                                <form class="material-creator-form">
                                    <div class="group">
                                        <div class="label-container">
                                            <label for="title">Title</label>
                                        </div>
                                        <input type="text" id="title">
                                    </div>
                                    <div class="group">
                                        <div class="label-container">
                                            <label>File to upload</label>
                                        </div>
                                        <label for="fileUpload" class="custom-file-upload-btn">Select File
                                            <input type="file" id="fileUpload"></input>
                                        </label>
                                        <div class="selected-file-name-container add-margin-top">
                                            <span>Name of selected file.Name of selected file.Name of selected file.Name
                                                of selected file.Name of selected file.Name of selected file.Name of
                                                selected file.Name of selected file.Name of selected file.Name of
                                                selected file.</span>
                                        </div>
                                    </div>
                                    <button class="green-btn">Create Material</button>
                                </form>
                            </div>

                            <div class="material">

                                <div class="file-icon-container">
                                    <img src="../../public/icons/pdf/128.png" alt="file icon">
                                </div>

                                <div class="info">
                                    <div class="name-container">
                                        <p>Name of the up Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            DuName of the up Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            DuName of the up Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            Du</p>
                                    </div>
                                </div>

                                <div class="teacher-material-controls">
                                    <button class="green-btn">Download</button>
                                    <button class="red-btn">Delete</button>
                                </div>

                            </div>
                            <div class="material">

                                <div class="file-icon-container">
                                    <img src="../../public/icons/pdf/128.png" alt="file icon">
                                </div>

                                <div class="info">
                                    <div class="name-container">
                                        <p>Name of the up Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            DuName of the up Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            DuName of the up Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            Du</p>
                                    </div>
                                </div>

                                <div class="teacher-material-controls">
                                    <button class="green-btn">Download</button>
                                    <button class="red-btn">Delete</button>
                                </div>

                            </div>



                        </div>



                    </div>

                </div>
            </div>

        </main>
    </div>
</body>

</html>