<div class="application-uploaded-documents">
    @if (appData()?.applicationDocuments?.length) {
        @for (f of files(); track $index) {
            <div class="document">
                <div class="file-icon-container">
                    <img [src]="getFileIconPath(f.mimeType)" alt="file icon">
                </div>
        
                <div class="info">
                    <div class="name-container">
                        <span>{{f.originalName}}</span>
                    </div>
                </div>
        
                <div class="controls">
                    <button class="green-btn" (click)="downloadFile(f._id)">Download</button>
                </div>
            </div>
        }
    } @else {
        <div class="no-results">
            <span>No Documents!</span>
        </div>
    }

</div>