@if (mustOpenAddGradeWindow()) {
<app-add-grade-window [gradingIdToAddGradeTo]="gradingId()" [userIdToAddGradeFor]="userIdForGradesData()"
    (gradeAdded)="receiverGradeAdded($event)"
    (gradeAdditionCanceled)="receiverGradeAdditionCanceled($event)"></app-add-grade-window>
}
@if (mustOpenGradeEditingWindow()) {
<app-edit-grade-window [gradeIdToEdit]="gradeIdToEdit()" [userIdToEditGradeFor]="userIdForGradesData()"
[gradeToEdit]="gradeToEdit()"
    (gradeEdited)="receiverGradeEdited($event)"
    (gradeEditingCanceled)="receiverGradeEditingCanceled($event)"></app-edit-grade-window>
}
<div class="profile-grades">
    @if (gradingData()?.length) {
    @for (grading of gradingData(); track $index) {
    <!-- for each grading -->
    <div class="grid-teil-subject-grades">
        <div class="upper-container">
            <div class="title">
                <span>{{grading.subject.title}}</span>
                <span class="extra-infos">Teacher: {{grading.subject.teacher.firstName}}
                    {{grading.subject.teacher.lastName}}</span>
                <span class="extra-infos">SubjectID: {{grading.subject.displayId}}</span>
            </div>
            @if (viewerAuthStatus() === 'teacher') {
            <button class="green-btn" type="button" (click)="addGradeTrigger(grading._id)">Add Grade</button>
            }
        </div>

        <form class="grades-container">
            @if (grading.grades.length) {
            @for (grade of grading.grades; track $index) {
            <!-- for each grade -->
            <div class="grade">
                @if (viewerAuthStatus() === 'teacher') {
                <div class="grade-controls">
                    <button type="button" (click)="editGradeTrigger(grade._id, grade.value)">Edit</button>
                    <button type="button" (click)="deleteGradeTrigger(grading._id, grade._id)">Delete</button>
                </div>
                }
                <div class="content">
                    <input class="correct-input" type="number" value="{{grade.value}}" disabled>
                </div>
            </div>
            }
            } @else {
            <div class="no-results">
                <span>You have not received a grade for this subject yet.</span>
            </div>
            }

        </form>

    </div>
    }
    } @else {
    <div class="no-results">
        <span>No gradings available yet. Join a subject!</span>
    </div>
    }




</div>