<div class="contact-view">
    <div class="content">
        <div class="teil text title unselectable">
            <span>Contact us</span>
        </div>
        <div class="teil text addition unselectable">
            <span>Feel free to contact us with any questions. You may also find our <a routerLink="/faq">FAQ</a> page helpful.</span>
        </div>
        <div class="teil text infos">
            <label class="unselectable">Email:</label>
            <span>st.peter.high&#64;gmail.com</span>
        </div>
        <div class="teil text infos">
            <label class="unselectable">Phone:</label>
            <span>+44 585 455 3849</span>
            <span>+44 88 3849</span>
        </div>
        <div class="teil text infos">
            <label class="unselectable">Address:</label>
            <span>West-Forrest Str. 34b</span>
            <span>8922, New Eastwood</span>
        </div>
        <div class="teil hours">
            <label class="unselectable">Office Hours:</label>
            <span>Monday: 8:00h - 16:00h</span>
            <span>Tuesday: 8:00h - 16:00h</span>
            <span>Wednesday: 8:00h - 16:00h</span>
            <span>Thursday: 8:00h - 16:00h</span>
            <span>Friday: 8:00h - 16:00h</span>
        </div>
    </div>
</div>