<div class="page-not-found-view">
    <div class="content">
        <div class="teil"></div>
        <div class="teil"></div>
        <div class="teil text unselectable">
            <img src="icons/unknownfile/128.png" alt="black document">
        </div>
        <div class="teil text title unselectable">
            <span>Page Not Found</span>
        </div>
        <div class="teil text unselectable">
            <span>We don't seem to find the page you are looking for. Go back to <a routerLink="/home">Home</a>?</span>
        </div>
        <div class="teil"></div>
        <div class="teil"></div>
    </div>
</div>